RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L]
RewriteRule ^home$ /home.html [L]
RewriteRule ^sobre$ /sobre.html [L]
RewriteRule ^produtos$ /produtos.html [L]
RewriteRule ^faq$ /faq.html [L]
