RewriteEngine On

# Redireciona /index para /Home
RewriteRule ^index$ /Home [R=301,L]

# Serve o conteúdo de index.html quando acessar /Home
RewriteRule ^Home$ index.html [L]

# Ignora se o request já for para um arquivo ou diretório existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# -------------------------
# Regra para URLs de produtos
RewriteRule ^produto/([a-z0-9-]+)$ Produtos.html [L]
# -------------------------

# Verifica se o arquivo com .html existe e reescreve
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
